  <div class="jumbotron">
        <h1 id="main-heading">TACOS</h1>
        <h3 id='heading2'>ARE DELICIOUS</h3>
    </div>

    <!-- TACO LIST SECTION -->
    <!-- ======================================================== -->

    <!-- Divs to create 2 columns for the uneaten, eaten tacos -->
    <div class="row" id='both-columns'>
        <div class="col-md-6">
            <div class="col-md-12" id='uneaten'>
                <h3 id='ready-heading'>Tacos Ready to be Devoured!: </h3>
                <div class='ready-items'>
                <ul id='list-list'>
                    {{#each tacos}} 
                        {{#unless eaten}}
                            <!-- Renders the Devour button and sets the eaten value to true on click -->
                            {{> tacos/taco-block eaten=true}}
                        {{/unless}}
                    {{/each}}
                </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12" id='eaten'>
                <h3 id='eaten-heading'>Tacos you've Eaten: </h3>
                <div class='eaten-items'>
                <ul id='eaten-list'>
                    {{#each tacos}} 
                        {{#if eaten}}
                          {{> tacos/taco-eaten }}
                        {{/if}}
                    {{/each}}
                </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ADDING NEW TACOS SECTION -->
    <!-- ======================================================== -->
    <div id="new-section">
    <h2 class='add-heading'>Add a taco you'd like to eat!</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="taco-name"></label>
            <input type="text" id="taco-name" name="Taco Type">
        </div>

        <button type="submit">Add your new Taco!</button>
    </form>
    </div>


