<li>
	{{taco_order}}
		<button class="change-eaten" id='devour-btn' data-id="{{this.id}}" data-newEaten="{{eaten}}">
		Devour this Taco
	</button>
	{{!-- Add later, maybe --}}
	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
